---
// server only
const name = "Ingenieria Lopez Liao";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ingenieria Lopez Liao</title>
  </head>
  <body>
    <h1>{name}</h1>
  </body>
</html>
